
body {
    font-family: 'Poppins', sans-serif;
}

.card {
   /*  height: 550px !important; */
    box-shadow: 0 0 5px rgb(0,0,0,0.4);
    border-radius: 10px;
}
.card-body{
   background-color:#222f3e;
   border-radius:0 0 10px 10px;
}
#load{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999999999;
}
#warning{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999999999;
    font-family: 'Roboto', sans-serif;
}
img{
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
}
button{
    border: none;
    background-color: #222f3e;;
    color: white;
}
p,h5{
    color:rgb(228, 220, 220);
}
h5{
    font-family: 'Roboto', sans-serif;
}
.info{
    margin-top:10px;
    line-height: 5px;
    font-size: 14px;
}